# Server Configuration
PORT=5001
NODE_ENV=development

# Database
MONGODB_URI=mongodb+srv://pamudithasandaru2002_db_user:7uSPC6CsOxS7bwt9@cluster0.c2wdxy4.mongodb.net/?appName=Cluster0

# JWT Secret
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
JWT_EXPIRE=30d

# Cloudinary (for image uploads)
CLOUDINARY_CLOUD_NAME=djkodf4rg
CLOUDINARY_API_KEY=472629211126543
CLOUDINARY_API_SECRET=OJz9Jjh84hQhue2lF7Xr-GCapX8

# Email Configuration (for notifications)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=pamudithasandaru2002@gmail.com
EMAIL_PASS=20026819971027log

# Payment Gateway (Stripe)
STRIPE_SECRET_KEY=sk_test_51Rz9dmH5EEiDXlkXITWxStvZZltJSsLotdWwaBRZO7wpOTrYdjoX95Jw3RRHKneK0xP9MTluDoNcoGLuVmatbTaa00aA3B9MjD
STRIPE_PUBLISHABLE_KEY=pk_test_51Rz9dmH5EEiDXlkXe6qllpcxqBXNREJ0Y0x9ImHDupSk1f4seudyEhlfGKoJK4UiYvD6bwKzHMSYdFfZouEF5Tb300F7v0Zn5r

# Weather API
WEATHER_API_KEY=2a079b0c34c9c84a41866a6a950dd794

# AI/ML Services (optional)
TENSORFLOW_MODEL_PATH=./models
OPENAI_API_KEY=your_openai_api_key

# Frontend URL
CLIENT_URL=http://localhost:3000
